div(class="links_widget widget")
	.links Links
		.link_list_wrap
			ul.link_list
			span.add +

			.add_link_wrap
				input(class="title" type="text" placeholder="Title")
				input(class="address" type="text" placeholder="Address")
	div( id="search" )
		span 🔍
		input(type="text" class="search_txt" placeholder="search")
	div.search_select
		label( for="search_google" )
			input(type="radio" id="search_google" name="search_radio" value="http://www.google.co.kr/search?q=" checked)
			| Google
		label( for="search_naver" )
			input(type="radio" id="search_naver" name="search_radio" value="https://search.naver.com/search.naver?where=nexearch&query=")
			| Naver