div(class="links_widget widget")
	.links Links
		.link_list_wrap
			ul.link_list
			span.add +

			.add_link_wrap
				input(class="title" type="text" placeholder="Title")
				input(class="address" type="text" placeholder="Address")