div(class="todo_widget widget")
	.todo Todo
		.todo_list_wrap
			div.todo_count 
				span.count 0 
				span to do
			div.todo_empty
				div.empty_content
					div.empty_graphic 😞
					div.empty_message Nothing to do
					div.empty_advice 
						| Add a todo to get started,
						span.todo_name dumpleHM

			ul.todo_list 

			.add_todo_wrap
				input(class="todo_title" type="text" placeholder="New Todo")