<!DOCTYPE html>
html(lang="ko-kr")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title New Tab
		meta(name="viewport" content="width=device-width")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		//- script(src="https://darkskyapp.github.io/skycons/skycons.js")
		script(src="js_source/jquery.min.js")
		script(src="js_source/skycons.js")
		<!-- bower:css -->
		<!-- endbower -->

		<!-- inject:css -->
		<!-- endinject -->
	body( tabindex="1" )
		include module/loading.jade
		include module/background.jade
		include module/content_container.jade

		<!-- inject:js -->
		<!-- endinject -->